@charset "EUC-KR";

div#s_left{
	width:25%;
	height:700px;
	float:left;
}
#contents{
	width:50%;
	height:700px;
	float:left;
	margin-top:30px;
}
#s_right{
	widht:25%;
	height:700px;
	float:left;
}
