@charset "utf-8";

/* main page */
.container {width:1000px; margin:20px auto; border: 1px solid gray; }
.header {height:100px; background-color:#FFFFFF; color:#000000; border: 1px solid gray; }
.content {width:845px; float:left; border: 1px solid gray; } 
.sidebar {width:150px; background-color:#FFFFFF; float:right; border: 1px solid gray; }

/* 메인 페이지 관련 스타일 */
.galImg {
	border: 1px solid black;
  	max-width: 300px;
}

#galImgs {
    margin:10px auto;
    max-width: 80%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#galImgs p{
	border: 1px solid black;
}

#galImgs div:nth-child(2) {
	flex: 1;
	width: 100%
    background: #aaa;
}
#galImgs div:nth-child(2) img {
  	width: 150px;
}

#galImgs div:nth-child(3) {
	flex: 2;
	width: 100%
    background: #ccc;
}

#galImgs div:nth-child(4) {
	flex: 1;
	width: 100%
    background: #eee;
}
#galImgs div:nth-child(4) img {
  	width: 150px;
}

/* others */
#s_left{
	width:25%;
	height:700px;
	float:left;
}

#contents{
	width:50%;
	height:700px;
	float:left;
	margin-top:30px;
}

#s_right{
	widht:25%;
	height:700px;
	float:left;
}