@charset "EUC-KR";


div{
	height:1000px;
}
p{
	font-family: 'Nanum Gothic Coding', monospace;
	font-size:30px;	
	text-align:center;
}

button{
	background-color: #298cbf;
	color:white;

}

#s_left{
	width:25%;
	float:left;	
}
#s_right{
	widht:25%;
	float:left;
}
#l_contents{
	width:50%;
	float:left;
	margin-top:150px;
}
#top{
	width:100%;
	height:120px;
}

#left{
	width:49%;
	height:500px;
	border: 1px inset #008000;
	border-right:0px;
	float:left;
}
#right{
	width:49%;
	height:500px;
	border: 1px inset #008000;
	float:left;
}

#s_img{
	margin-top:150px;
}